<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <div id="index-page-main" class="page-main mt-0 pt-0">
        <header class="welcome-header bg-dark">
            <div class="container">
                <div class="col-md-10 py-3 text-white">
                    <h2>Welcome to this Site :-)</h2>
                </div>
            </div>
        </header>
        <main>
            Enjoy development
        </main>
        <th:block th:if="${envNode} == 'DEV'">
            <span style="position: absolute; right: 20px; color: orange">In DEV Mode</span>
        </th:block>
    </div>
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>
